.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.plan
crash.log
crash.*.log
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
*.tfvars
*.tfvars.json
backend.hcl
*.pem
*.key
.env
.env.*
*.dump
*.backup
*.sql
.pgpass
